ul {
    list-style: none;
    ;
}

#gallery {
    display: flex;
    justify-content: space-around;
}

.image {
    width: 75%;
    height: 100%;

    border: orange 5px solid;
    border-radius: 20px;
}