.main-page {
    display: block;
    margin: 20px;
}

ul {
    list-style: none;
    ;
}

#gallery {
    display: flex;
    justify-content: space-around;
}

.image {
    width: 75%;
    height: 100%;

    border: orange 5px solid;
    border-radius: 20px;
}


#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}